<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <input-field type="single-select">
            <name>aosAnimation</name>
            <options>
                <option>
                    <id>fade-up</id>
                    <name>fade-up</name>
                </option>
                <option>
                    <id>fade-down</id>
                    <name>fade-down</name>
                </option>
                <option>
                    <id>fade-right</id>
                    <name>fade-right</name>
                </option>
                <option>
                    <id>fade-left</id>
                    <name>fade-left</name>
                </option>
                <option>
                    <id>fade-up-right</id>
                    <name>fade-up-right</name>
                </option>
                <option>
                    <id>fade-up-left</id>
                    <name>fade-up-left</name>
                </option>
                <option>
                    <id>fade-down-right</id>
                    <name>fade-down-right</name>
                </option>
                <option>
                    <id>fade-down-left</id>
                    <name>fade-down-left</name>
                </option>
                <option>
                    <id>flip-left</id>
                    <name>flip-left</name>
                </option>
                <option>
                    <id>flip-right</id>
                    <name>flip-right</name>
                </option>
                <option>
                    <id>flip-up</id>
                    <name>flip-up</name>
                </option>
                <option>
                    <id>flip-down</id>
                    <name>flip-down</name>
                </option>
                <option>
                    <id>zoom-in</id>
                    <name>zoom-in</name>
                </option>
                <option>
                    <id>zoom-in-up</id>
                    <name>zoom-in-up</name>
                </option>
                <option>
                    <id>zoom-in-down</id>
                    <name>zoom-in-down</name>
                </option>
                <option>
                    <id>zoom-in-left</id>
                    <name>zoom-in-left</name>
                </option>
                <option>
                    <id>zoom-in-right</id>
                    <name>zoom-in-right</name>
                </option>
                <option>
                    <id>zoom-out</id>
                    <name>zoom-out</name>
                </option>
                <option>
                    <id>zoom-out-up</id>
                    <name>zoom-out-up</name>
                </option>
                <option>
                    <id>zoom-out-down</id>
                    <name>zoom-out-down</name>
                </option>
                <option>
                    <id>zoom-out-right</id>
                    <name>zoom-out-right</name>
                </option>
                <option>
                    <id>zoom-out-left</id>
                    <name>zoom-out-left</name>
                </option>
            </options>
            <defaultValue>fade-in</defaultValue>
            <label>Animation</label>
        </input-field>

        <input-field type="int">
            <name>aosDuration</name>
            <label>Duration</label>
            <defaultValue>3000</defaultValue>
        </input-field>

        <input-field type="int">
            <name>aosOffset</name>
            <label>Offset</label>
            <defaultValue>500</defaultValue>
        </input-field>

        <input-field type="int">
            <name>aosDelay</name>
            <label>Delay</label>
            <defaultValue>300</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>aosAnchorPlacement</name>
            <options>
                <option>
                    <id>top-bottom</id>
                    <name>top-bottom</name>
                </option>
                <option>
                    <id>center-bottom</id>
                    <name>center-bottom</name>
                </option>
                <option>
                    <id>bottom-bottom</id>
                    <name>bottom-bottom</name>
                </option>
                <option>
                    <id>top-center</id>
                    <name>top-center</name>
                </option>
                <option>
                    <id>center-center</id>
                    <name>center-center</name>
                </option>
            </options>
            <label>Anchor Placement</label>
        </input-field>
    </card>
</config>
